/* font link here   */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans", sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

/* common styles */


 .primary-color{
    color: #fd6e0a;
}

.btn-primary{
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    background-color: #fd6e0a;
    border: 0;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 35px;
}


.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

 /* header section css start here */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.header nav h3{
    font-size: 45px;
    color: #181818;
    font-weight: 800;
    line-height: normal;
}

.header header nav ul{
    display: flex;
    align-items: center;
}
.header header nav ul li{
    list-style: none;
    margin-right: 51px;
}
.header header nav a{
    text-decoration: none;
    color: #474747;
}

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.btn-primary-contact{
    color: #fd6e0a;
    background-color: transparent;
    border: 1px solid #fd6e0a;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 35px;
    font-weight: 700;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.banner .profile-picture img{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
}

.banner-content{
    max-width: 500px;
}
 /* header section css end here */
main{
    max-width: 1140px;
    margin: 0 auto;
}

 /* main section styles */
 .about{
     padding: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    margin: 130px 0;
 }


 .about-info-container{
    display: flex;
    justify-content: space-around;

 }

.about-info{
    text-align: center;

} 

#whatido-descrption{
    padding: 30px 150px;
}


/* skilles styles */

.skills-container{
    display: flex;
    gap: 24px; 


}
.skill{
    padding: 30px;
    box-shadow: 0px 0px  5px rgb(224, 216, 216);
}
.skill-description{
    margin-top: 10px;
    padding: 5px;
}
.skill-title{
    margin-top: 20px;
}

.skill img{
    margin-top: 10px;
}